{% extends "website/base.html.twig" %}

{% block content %}
  <section class="section">
    <div class="container-fluid container-xl">
      <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
          <h1 class="h3">Formulaire de contact</h1>
          {{ form_start(form) }}
            {{ form_row(form.fullname) }}
            <div class="row">
              <div class="col-lg-6">
                {{ form_row(form.telephone) }}
              </div>
              <div class="col-lg-6">
                {{ form_row(form.email) }}
              </div>
            </div>
            {{ form_row(form.subject) }}
            {{ form_row(form.message) }}
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </section>
{% endblock %}