{% extends "auth/layout.html.twig" %}

{% block header %}
  
{% endblock %}


{% block content %}
  {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_rest(form) }}
  {{ form_end(form) }}
{% endblock %}

{% block footer %}
  <div class="d-flex flex-column">
    <a href="{{ url('auth_login') }}" class="link mb-3">Annuler</a>
    <a href="#" class="link">
      <i class="bi bi-arrow-left"></i>
      Revenir sur le site 
    </a>
  </div>
{% endblock %}