<form class="row row-cols-lg-auto g-2 align-items-end mb-4" action="" method="get">
  
  {% for key,filtre in filters %}
    <div class="col-12">
      <label class="form-label" for="{{ key }}">{{ filtre.label }}</label>
      <select name="{{ key }}" id="{{ key }}" class="form-select">
        <option value=""> ------------ </option>
        {% for k, option in filtre.data %}
          <option value="{{ option }}">{{ k }}</option>  
        {% endfor %}
      </select>
    </div>
  {% endfor %}

  <button type="submit" class="btn btn-primary">Filtrer</button>

</form>